.partners-section {
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title{
      font-size: 46px;
    }

    &__list {
      padding-top: 50px;
      padding-bottom: 50px;
      display: flex;
      justify-content: center;
      gap: 74px;

      @media screen and (max-width: $lg) {
        gap: 50px;
        flex-wrap: wrap;
      }

    }

    &__img {
      width: 60px;
      height: 60px;
    }  
    
  }
  